<app-header-login></app-header-login>

<a href="#" id="suport">
  <span>Falar com Suporte</span>
</a>

<div class="container">
  <div class="titulo">
    <h2>Redefinir Senha</h2>
    <p>Insira suas informações para criar uma nova senha</p>
  </div>

  <div class="retornar">
    <a [routerLink]="''"><span>← Voltar para login</span></a>
  </div>

  <div class="container-formulario">
    <form (ngSubmit)="onSubmit()">
      <label for="email">E-mail</label>
      <input id="email" type="email" placeholder="ex: hello@gmail.com" required>

      <label for="usuario">Nome de Usuário</label>
      <input id="usuario" type="text" placeholder="ex: Lojista123" required>

      <label for="nova-senha">Nova Senha</label>
      <input id="nova-senha" type="password" placeholder="••••••••" required>

      <label for="confirmar-senha">Confirmar Nova Senha</label>
      <input id="confirmar-senha" type="password" placeholder="••••••••" required>

      <button type="submit">Redefinir Senha</button>
    </form>
  </div>
</div>