 <app-header-login> </app-header-login>
 <a href="#" id="suport">Falar com Suporte</a>
       

    <div class="container">
        <div class="titulo">
            <h2>Nova Senha</h2>
        </div>
        <div class="retornar">
            <a href="#"><span>Login</span></a>
        </div>

        <div class="container-formulario">
            <form action="">
                <label for="">EMAIL</label>
                <input type="text" placeholder="hello@gmail.com">

                <label for="">NOME DE USUARIO</label>
                <input type="text" placeholder="Logista123@">

                <label for="">NOVA SENHA</label>
                <input type="password" placeholder="******">

                <label for="">NOVA SENHA</label>
                <input type="password" placeholder="******">

                <button>Recuperar</button>
            </form>
        </div>
    </div>

    
 
