<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #4488D6; border-radius: 5px; padding: 1px 3px;">
    
    <!-- Logo ou título opcional (pode ser removido se não quiser) -->
    <a class="navbar-brand d-lg-none" href="#" style="color: white;">Menu</a>

    <!-- Botão Hambúrguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Itens do Menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav w-100 d-flex justify-content-start gap-2">
        
        <a  class="nav-link">
          <div class="box d-flex align-items-center" [routerLink]=" '/dash'"  routerLinkActive="ativo">
            <div class="imagens-menu">
              <img src="../../../assets/casa.png" width="20" alt="Dashboard">
            </div>
            <div class="nome-menu">Dashboard</div>
          </div>
        </a>

        <a class="nav-link">
          <div class="box d-flex align-items-center"  [routerLink]=" '/produtos'"  routerLinkActive="ativo">
            <div class="imagens-menu">
              <img src="../../../assets/pacote.png" width="20" alt="Produtos">
            </div>
            <div class="nome-menu">Produtos</div>
          </div>
        </a>

        <a  class="nav-link">
          <div class="box d-flex align-items-center" [routerLink]=" '/vendas'"  routerLinkActive="ativo">
            <div class="imagens-menu">
              <img src="../../../assets/ponto-de-venda.png" width="20" alt="Vendas">
            </div>
            <div class="nome-menu">Vendas</div>
          </div>
        </a>

        <a  class="nav-link">
          <div class="box d-flex align-items-center" [routerLink]=" '/despesas'"  routerLinkActive="ativo">
            <div class="imagens-menu">
              <img src="../../../assets/despesas.png" width="20" alt="Despesas">
            </div>
            <div class="nome-menu">Despesas</div>
          </div>
        </a>

        <a  class="nav-link">
          <div class="box d-flex align-items-center" [routerLink]=" '/menu'"  routerLinkActive="ativo">
            <div class="imagens-menu">
              <img src="../../../assets/ferramentas.png" width="20" alt="Menu">
            </div>
            <div class="nome-menu">Menu</div>
          </div>
        </a>

      </div>
    </div>
  </nav>
</div>