.container {
    width: 250px;


}

.titulo {
    text-align: center;

}

span,
a {
    color: #5DC4FF;
    text-decoration: none;
    font-size: 13px;
}

.input-dados {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}

label {
    font-size: 13px;
}

input {
    background-color: #ECECEC;
    border: none;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;

}

button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95px;
    border: none;
    background-color: #1565C0;
    color: white;
    font-size: 15px;
    height: 30px;
    border-radius: 5px;
}