<app-header-login></app-header-login>
<a [routerLink]="['/recuperar']" id="senhaa">
  <span>Esqueci a senha</span>
</a>


<div class="formulario-cadastro">
  <div class="intro-login">
       <h1>Criar Conta</h1>
  <a [routerLink]="''"><span >Login</span></a>

  </div>
 

  <form>
    <div class="linha">
      <div class="campo">
        <label for="nome">Nome Completo</label>
        <input type="text" id="nome" placeholder="Jaira Martins">
      </div>
      <div class="campo">
        <label for="email">Nome de Usuario</label>
        <input type="email" id="email" placeholder="MariaLojista123">
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <label for="usuario">Senha</label>
        <input type="password" id="usuario" placeholder="*******">
      </div>
      <div class="campo">
        <label for="telefone">Senha</label>
        <input type="password" id="telefone" placeholder="*******">
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <label for="senha">Nome do Empreendimento</label>
        <input type="text" id="senha" placeholder="Loja Fit">
      </div>
      <div class="campo">
        <label for="confirmarSenha">Cpf</label>
        <input type="text" id="confirmarSenha" placeholder="444777000-36">
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <label for="cidade">Telefone</label>
        <input type="text" id="cidade" placeholder="21 999999-99">
      </div>
      <div class="campo">
        <label for="estado">Email</label>
        <input type="text" id="estado" placeholder="fulano@gmail.com">
      </div>
    </div>

    <button type="submit">Cadastrar</button>
  </form>
  
</div>
